<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>ToDo List </title>
	<script src="vendor/angular.min.js"></script>
	<script src= 'js/app.js'></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/services/data.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app='todoApp'>
	<div ng-controller= 'mainCtrl' class="list">
			<h1>My TODO's</h1>
			<a href="" ng-click='addTask()'>+ Add new task</a>
			<div class="item"  ng-class="{'editing-item': editing, 'edited':task.edited, 'completed':task.completed}" ng-repeat="task in tasks| orderBy:'completed'" ng-init= "task.completed = false">
				<input type="checkbox" ng-model='task.completed'/>
				<span ng-click= ></span>
				<label ng-hide='editing'>{{task.name}}</label>
				<input ng-change= 'task.edited= true' ng-blur= 'editing=false;' ng-show='editing' class="editing-label"  ng-model='task.name' type="text">
				<div class="actions">
					<a href="" ng-click='editing=!editing'>Edit</a>
					<a href="" ng-click="saveTask(task)">Save</a>
					<a href="" ng-click=deleteTask(task,$index) class="">Delete</a>
				</div>
			</div>
			<!-- Test purposes only -->
			<!-- {{tasks}} -->
	</div>
	
</body>
</html>